<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>食物</string>
	<string>治裝保養</string>
	<string>生活住家</string>
	<string>交通</string>
	<string>文教育運</string>
	<string>玩樂</string>
	<string>貸款</string>
	<string>罰款</string>
	<string>醫療</string>
	<string>銀行卡費</string>
</array>
</plist>
